[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.0.2"
gunicorn = "*"
python-decouple = "*"
dj-database-url = "*"
whitenoise = "==5.0.1"
django-on-heroku = "*"

[dev-packages]

[requires]
python_version = "3.11"
